@{ 
    ViewData["Title"] = "AddTask";
}

<h1>Add Task</h1>

<form action="../Home/AddTask" method="post">
    <input type="text" name="ItemDescription" placeholder="Item Description" class="form-control mb-4" />
    <input type="date" name="DueDate" placeholder="Due Date" class="form-control mb-4" />
    <input type="text" name="TaskName" placeholder="Task Name" class="form-control mb-4" />

    <div class="form-control mb-4">
        Complete? <input type="checkbox" name="Complete" value="true" />
        <input type="checkbox" name="Complete" value="false" hidden />
    </div>
    <input type="submit" value="Add this task" class="form-control mb-4"/>

</form>
