@model List<Devs>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hey Ya'll</h1>
    <p>To check out the task index <br />
    click the task tab on the header<br />
    HAVE FUN :)</p>
</div>
